@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

a {
    color: #222;
    text-decoration: none;
}

.tab-inner {
    /* border: 1px solid red; */
    width: 300px;
    height: 350px;
    position: relative;
}

input[name="tabmenu"] {
    display: none;
}

.content {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.btn {
    /* position:absolute를 주는 순간 inline 블럭으로 변하게 되고 inline 블럭의 특성 상 content가 넓이가 최종 넓이이기 때문에 center를 주려고 해도 움직이지 않음. 이를 해결하기 위해서는 width를 100%로 주어야 가운데 정렬 가능 */
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
}

.btn label {
    background-color: lightgray;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

input[id="tab1"]:checked ~ .slide1,
input[id="tab2"]:checked ~ .slide2,
input[id="tab3"]:checked ~ .slide3 {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
    background-color: crimson;
}
